{% extends "base.html" %}
{% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    .head_text{
    color: white;
  }
    .card{
    box-shadow: 0 16px 48px #E3E7EB;
}
</style>

<header class="masthead" >
      <div class="overlay"></div>
        <div class="container">
          <div class="row">
                <div class=" col-md-8 col-md-10 mx-auto">
                  <div class="site-heading text-right"><!--new text-right-->
                  <h3 class=" site-heading my-4 mt-3 text-white"> به وبلاگ من خوش آمدید </h3>
                  <p class="text-light">این وبلاگ با کمک چارچوب محبوب جنگو ساخته شده است. &nbsp
                  </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
</header>
        
<div class="container">
  <div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-8 mt-3 left">
      {% for post in page_obj %}
  <div class="card mb-4 text-right" > <!--text-right and text-justify is new-->
    <div class="card-body text-justify"> <!--tex-justify is new-->
      <h3 class="card-title">{{ post.title }}</h3>
      <p class="card-text text-muted h6">{{ post.author }} | {{ post.get_jalali_date }} </p>

      <p class="card-text">{{post.content|safe|slice:":300"}} ...</p>
      <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">ادامه مطلب &larr;</a>
      <a href="{% url 'post_detail' post.slug   %}/#comments" class="btn float-left"> {{post.comments.all.count}}نظر</a>
      
    </div>
    
  </div>
        {% endfor %}
        {{comments.text}}
      </div>
          {% block sidebar %}
          {% include 'sidebar.html' %}
          {% endblock sidebar %}
      </div>
  </div>

{%endblock%}
