{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4 text-right">
        <h5 class="card-header">درباره ی ما</h5>
    <div class="card-body ">
        <p class="card-text"> این وبلاگ با کمک چارچوب محبوب جنگو ساخته شده است.  

        </p>
        <a href="#"
           class="btn btn-info">اطلاعات بیشتر</a>
    </div>
</div>
</div>

{% endblock sidebar %}